/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 31 jan. 2020, 11:07:07
    Author     : fredr
*/

html, body {
    height:110%;
    margin: 0;
    padding: 0;
    background:
        url("pattern.png"),
        linear-gradient(grey, transparent),
        linear-gradient(to top left, black, transparent),
        linear-gradient(to top right, black, transparent);
        background-blend-mode: screen;
    top: 0;
    /*background-image:
    radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.3),
      transparent 700px
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.3),
      transparent 500px
    ),
    radial-gradient(
      at bottom left,
      rgba(255, 255, 255, 0.3),
      transparent 400px
    ),
    radial-gradient(
      at bottom right,
      rgba(255, 255, 255, 0.3),
      transparent 800px
    ),
    linear-gradient(0deg, rgba(0, 0, 0), rgba(0, 0, 0));*/
    /*background-image: conic-gradient(from 60deg at center, rgba(255,111,0,1) 0%, rgba(121,9,43,1) 69%, rgba(255,111,0,1) 100%);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,43,1) 69%, rgba(255,111,0,1) 100%);*/
}

  .header img {
  float: left;
}

.header{
  width: 100%;
  background-blend-mode: screen;
  height: 160px;
  text-align: center;
  background-image:
  linear-gradient(0deg, rgb(255,245,238), rgb(255,127,80, 0.5));
  /*url("pattern.png");
    height: 160px;
    background-color: black;
    background-blend-mode: screen;*/
  }

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: #333;
  font-size: 17px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar a {
  float: left;
  margin:auto;
  padding: 12px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 12px;
  background-color: inherit;
  font-family: inherit;
  font-size:inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #FFDAB9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #D9181D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#headerh1 {
    margin-top: 0px;
    padding-top: 20px;
    /*padding-left: 10px;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    color: #D9181D;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
    background: -webkit-linear-gradient(#B31B1B 40%, #000000 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px black);
}

#block_container
{
  display: flex;
  justify-content: center;
}
#bloc1, #bloc2
{
    display:inline;
}
/*.gradient-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 320px;
  height: 320px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-45deg, rgba(84,84,84,0) 0, rgba(84,84,84,0) 40%, rgba(29,29,29,1) 40%, rgba(0,0,0,1) 59%, rgba(58,58,58,0) 59%, rgba(63,63,63,0) 100%), -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 7%, rgba(79,79,79,0) 7%, rgba(63,63,63,0) 100%), -webkit-linear-gradient(-225deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 7%, rgba(79,79,79,0) 7%, rgba(63,63,63,0) 100%), rgba(33,29,29,1);
  background: -moz-linear-gradient(135deg, rgba(84,84,84,0) 0, rgba(84,84,84,0) 40%, rgba(29,29,29,1) 40%, rgba(0,0,0,1) 59%, rgba(58,58,58,0) 59%, rgba(63,63,63,0) 100%), -moz-linear-gradient(135deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 7%, rgba(79,79,79,0) 7%, rgba(63,63,63,0) 100%), -moz-linear-gradient(315deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 7%, rgba(79,79,79,0) 7%, rgba(63,63,63,0) 100%), rgba(33,29,29,1);
  background: linear-gradient(135deg, rgba(84,84,84,0) 0, rgba(84,84,84,0) 40%, rgba(29,29,29,1) 40%, rgba(0,0,0,1) 59%, rgba(58,58,58,0) 59%, rgba(63,63,63,0) 100%), linear-gradient(135deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 7%, rgba(79,79,79,0) 7%, rgba(63,63,63,0) 100%), linear-gradient(315deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 7%, rgba(79,79,79,0) 7%, rgba(63,63,63,0) 100%), rgba(33,29,29,1);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
}*/

.typewriter h1 {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red; }
}

.typewriter{
  background: radial-gradient(circle 250px at center, snow, seashell);
  position: fixed;
  z-index: 11;
  top: 35%;
  left: 35%;
  width: 100%;
  display: block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius:10px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.table{
  background: radial-gradient(circle 250px at center, snow, seashell);
  border-radius: 10px;
  padding:30px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Tahoma', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table h1 {
background: url("desenfoque.png"), linear-gradient(#D9181D 0%, #4d0000 100%);
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
font-variant: small-caps;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
width: 630px;
height: 50px;
padding: 10px;
padding-left: 20px;
margin-top: -60px;
margin-left: -30px;
line-height: 50px;
position:relative;
}

.overlay h1 {background: url("light_effect.png"), linear-gradient(#D9181D 0%, #4d0000 100%);
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
font-variant: small-caps;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
width: 630px;
height: 50px;
padding: 10px;
padding-left: 20px;
margin-top: -60px;
margin-left: -30px;
line-height: 50px;
position:relative;}

.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}

#overlayer{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.container:hover .overlay {
  opacity: 1;
}

.sidebar {
    background-image: url("degradado.png");
    background-color: #FFFFFF;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.button {
  background-color: #D9181D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 50px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #D9181D;
}

.button1:hover {
  background-color: #D9181D;
  color: white;
}

.btn {
  flex: 1 1 auto;
  height: 50px;
  border: none;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;*/
  border-radius: 10px;
 }

select option {
  color:black;
}

select option[value=""] {
  color: lightgrey;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn1 {
  background-image: linear-gradient(to right, #D9181D 0%, #FF7947 51%, #D9181D 100%);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#logo {
    margin-left: 5px;
    margin-right: 5px;
}

#main {
    margin-left: 170px;
}

#form {
    width: 500px;
    margin-top: 10px;
    padding: 5px;
    border: solid;
    border-width: 1px;
}
